h1 {
	color: white;
	font-size: 5em;
	float: right; 
	margin-right: 100px;
	text-shadow: 8px 8px 8px #999;

}

input[type="submit"]{
    background-color: Transparent;
    border: none;
    color:white;
	position: relative;
    top: 4px;
    left: 450px;
    font-size: 1em;
    text-shadow: 8px 8px 8px #666;

}

hr{
	width: 80em;
}

style{
	color:white;
}

fieldset{
	color:white;
	width: 20em;
	padding: 10px;
	position: relative;
    left: 490px;
    border-radius: .75em;

}
p{
	position: relative;
    left: 60px;
}
